@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, 100%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes contentHide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, 100%) scale(0.9);
  }
}

.dialog-content[data-state='open'] {
  animation: contentShow 0.25s forwards;
}

.dialog-content[data-state='closed'] {
  animation: contentHide 0.25s forwards;
}