@use 'animation';
@use 'levels';
@use 'variable';

@import url('@custompackages/design-assets/index.css');

body {
  padding-top:  env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom:env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

html, body, .body-content {
  height : auto;
  min-height: calc(var(--vh, 1vh)* 100);
  -ms-overflow-style: none;
  scrollbar-width: none;
}