@use 'animation';
@use 'levels';
@use 'variable';

@import url('@custompackages/design-assets/index.css');

body {
  padding-top:  env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom:env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  
  min-height: 100vh;
  min-height: -webkit-fill-available; 
}

.body-content {
  min-height: 100vh;
  min-height: -webkit-fill-available; 
}