
.FormRoot {
  width: 260px;
}

.FormField {

}

.FormLabel {

  color: red;
}

.FormMessage {

  color: red;

}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  width: 100%;

  background-color: white;
 
}
 
