:root[data-theme="light"] {
  /* colors */
  --amber-100: #ffe4b7;
  --amber-200: #ffc67c;
  --amber-300: #ffb749;
  --amber-400: #df9500;
  --amber-50: #fff1e1;
  --amber-500: #c46e00;
  --amber-600: #a95f03;
  --amber-700: #904a07;
  --amber-800: #6b4100;
  --amber-900: #3e2000;
  --black-black: #000000;
  --blue-100: #dee9fe;
  --blue-200: #cddeff;
  --blue-300: #a9c9ff;
  --blue-400: #6daafb;
  --blue-50: #eff4fe;
  --blue-500: #068bee;
  --blue-600: #266ef1;
  --blue-700: #175bcc;
  --blue-800: #1948a3;
  --blue-900: #002661;
  --gray-01: #fbfbfb;
  --gray-02: #f7f7f7;
  --gray-03: #f5f4f3;
  --gray-04: #efefef;
  --gray-05: #ececec;
  --gray-06: #dfdfdf;
  --gray-07: #c1c1c1;
  --gray-08: #a5a5a5;
  --gray-09: #8b8b8b;
  --gray-10: #6f6f6f;
  --gray-11: #555555;
  --gray-12: #3d3d3d;
  --gray-13: #333333;
  --gray-14: #242424;
  --gray-15: #171717;
  --gray-transparent-scale-01: #b0b3bc1a;
  --gray-transparent-scale-02: #b0b3bc4d;
  --gray-transparent-scale-03: #b0b3bc80;
  --gray-transparent-scale-04: #b0b3bcb2;
  --gray-transparent-scale2-01: #1717171a;
  --gray-transparent-scale2-02: #1717174d;
  --gray-transparent-scale2-03: #17171780;
  --gray-transparent-scale2-04: #171717cc;
  --green-100: #d3efda;
  --green-200: #b1eac2;
  --green-300: #7fd99a;
  --green-400: #06c167;
  --green-50: #eaf6ed;
  --green-500: #009a51;
  --green-600: #0e8345;
  --green-700: #166c3b;
  --green-800: #0d572d;
  --green-900: #002f14;
  --limes-100: #deeec6;
  --limes-200: #cae6a0;
  --limes-300: #a6d467;
  --limes-400: #77b71c;
  --limes-50: #eef6e3;
  --limes-500: #5b9500;
  --limes-600: #4f7f06;
  --limes-700: #3f6900;
  --limes-800: #365310;
  --limes-900: #1b2d00;
  --magenta-100: #fedff3;
  --magenta-200: #ffcef2;
  --magenta-300: #fface5;
  --magenta-400: #f877d2;
  --magenta-50: #feeff9;
  --magenta-500: #e142bc;
  --magenta-600: #ca26a5;
  --magenta-700: #a91a90;
  --magenta-800: #891869;
  --magenta-900: #50003f;
  --orange-100: #fee2d4;
  --orange-200: #ffd3bc;
  --orange-300: #ff9d69;
  --orange-400: #fc7a2d;
  --orange-50: #fff0e9;
  --orange-500: #e65300;
  --orange-600: #c54600;
  --orange-700: #a33b04;
  --orange-800: #823006;
  --orange-900: #461a00;
  --purple-100: #f2e3ff;
  --purple-200: #ebd5ff;
  --purple-300: #ddb9ff;
  --purple-400: #c490f9;
  --purple-50: #f9f1ff;
  --purple-500: #a964f7;
  --purple-600: #944de7;
  --purple-700: #7c3ec3;
  --purple-800: #633495;
  --purple-900: #3a1659;
  --red-100: #ffe1de;
  --red-200: #ffd2cd;
  --red-300: #ff968c;
  --red-400: #ff4f60;
  --red-50: #fff0ee;
  --red-500: #f83446;
  --red-600: #de1135;
  --red-700: #bb032a;
  --red-800: #950f22;
  --red-900: #520810;
  --teel-100: #cdeef3;
  --teel-200: #b0e7ef;
  --teel-300: #77d5e3;
  --teel-400: #01b8ca;
  --teel-50: #e2f8fb;
  --teel-500: #0095a4;
  --teel-600: #007f8c;
  --teel-700: #016974;
  --teel-800: #1a535a;
  --teel-900: #002d33;
  --w-gray-01: #fafaf6;
  --w-gray-02: #f8f7f2;
  --w-gray-03: #f6f4ee;
  --w-gray-04: #ebe9e4;
  --w-gray-05: #e3e1db;
  --w-gray-06: #dcd9d3;
  --w-gray-07: #c2bfb8;
  --w-gray-08: #a7a39a;
  --w-gray-09: #8e8a83;
  --w-gray-10: #716d68;
  --w-gray-11: #575553;
  --w-gray-12: #424144;
  --w-gray-13: #3a393d;
  --w-gray-14: #2f2c2b;
  --w-gray-15: #221e1a;
  --white-white: #ffffff;
  --yellow-100: #fff7bf;
  --yellow-200: #fef08c;
  --yellow-300: #ffd334;
  --yellow-400: #ffc71e;
  --yellow-50: #fffbe1;
  --yellow-500: #ffb904;
  --yellow-600: #d09c16;
  --yellow-700: #9b7209;
  --yellow-800: #795908;
  --yellow-900: #513a00;
}
:root[data-theme="dark"] {
  /* colors */
  --amber-100: #6b4100;
  --amber-200: #904a07;
  --amber-300: #a95f03;
  --amber-400: #c46e00;
  --amber-50: #3e2000;
  --amber-500: #df9500;
  --amber-600: #ffb749;
  --amber-700: #ffc67c;
  --amber-800: #ffe4b7;
  --amber-900: #fff1e1;
  --black-black: #ffffff;
  --blue-100: #1948a3;
  --blue-200: #175bcc;
  --blue-300: #266ef1;
  --blue-400: #068bee;
  --blue-50: #002661;
  --blue-500: #6daafb;
  --blue-600: #a9c9ff;
  --blue-700: #cddeff;
  --blue-800: #dee9fe;
  --blue-900: #eff4fe;
  --gray-01: #171717;
  --gray-02: #242424;
  --gray-03: #333333;
  --gray-04: #3d3d3d;
  --gray-05: #555555;
  --gray-06: #6f6f6f;
  --gray-07: #8b8b8b;
  --gray-08: #a5a5a5;
  --gray-09: #c1c1c1;
  --gray-10: #dfdfdf;
  --gray-11: #ececec;
  --gray-12: #efefef;
  --gray-13: #f5f4f3;
  --gray-14: #f7f7f7;
  --gray-15: #fbfbfb;
  --gray-transparent-scale-01: #b0b3bcb2;
  --gray-transparent-scale-02: #b0b3bc80;
  --gray-transparent-scale-03: #b0b3bc4d;
  --gray-transparent-scale-04: #b0b3bc1a;
  --gray-transparent-scale2-01: #b0b3bcb2;
  --gray-transparent-scale2-02: #b0b3bc80;
  --gray-transparent-scale2-03: #b0b3bc4d;
  --gray-transparent-scale2-04: #171717cc;
  --green-100: #0d572d;
  --green-200: #166c3b;
  --green-300: #0e8345;
  --green-400: #009a51;
  --green-50: #002f14;
  --green-500: #06c167;
  --green-600: #7fd99a;
  --green-700: #b1eac2;
  --green-800: #d3efda;
  --green-900: #eaf6ed;
  --limes-100: #365310;
  --limes-200: #3f6900;
  --limes-300: #4f7f06;
  --limes-400: #5b9500;
  --limes-50: #1b2d00;
  --limes-500: #77b71c;
  --limes-600: #a6d467;
  --limes-700: #cae6a0;
  --limes-800: #deeec6;
  --limes-900: #eef6e3;
  --magenta-100: #891869;
  --magenta-200: #a91a90;
  --magenta-300: #ca26a5;
  --magenta-400: #e142bc;
  --magenta-50: #50003f;
  --magenta-500: #f877d2;
  --magenta-600: #fface5;
  --magenta-700: #ffcef2;
  --magenta-800: #fedff3;
  --magenta-900: #feeff9;
  --orange-100: #823006;
  --orange-200: #a33b04;
  --orange-300: #c54600;
  --orange-400: #e65300;
  --orange-50: #461a00;
  --orange-500: #fc7a2d;
  --orange-600: #ff9d69;
  --orange-700: #ffd3bc;
  --orange-800: #fee2d4;
  --orange-900: #fff0e9;
  --purple-100: #633495;
  --purple-200: #7c3ec3;
  --purple-300: #944de7;
  --purple-400: #a964f7;
  --purple-50: #3a1659;
  --purple-500: #c490f9;
  --purple-600: #ddb9ff;
  --purple-700: #ebd5ff;
  --purple-800: #f2e3ff;
  --purple-900: #f9f1ff;
  --red-100: #ffe1de;
  --red-200: #ffd2cd;
  --red-300: #ff968c;
  --red-400: #ff4f60;
  --red-50: #fff0ee;
  --red-500: #f83446;
  --red-600: #de1135;
  --red-700: #bb032a;
  --red-800: #950f22;
  --red-900: #520810;
  --teel-100: #1a535a;
  --teel-200: #016974;
  --teel-300: #007f8c;
  --teel-400: #0095a4;
  --teel-50: #002d33;
  --teel-500: #01b8ca;
  --teel-600: #77d5e3;
  --teel-700: #b0e7ef;
  --teel-800: #cdeef3;
  --teel-900: #e2f8fb;
  --w-gray-01: #221e1a;
  --w-gray-02: #2f2c2b;
  --w-gray-03: #3a393d;
  --w-gray-04: #424144;
  --w-gray-05: #575553;
  --w-gray-06: #716d68;
  --w-gray-07: #8e8a83;
  --w-gray-08: #a7a39a;
  --w-gray-09: #c2bfb8;
  --w-gray-10: #dcd9d3;
  --w-gray-11: #e3e1db;
  --w-gray-12: #ebe9e4;
  --w-gray-13: #f6f4ee;
  --w-gray-14: #f8f7f2;
  --w-gray-15: #fafaf6;
  --white-white: #000000;
  --yellow-100: #795908;
  --yellow-200: #9b7209;
  --yellow-300: #d09c16;
  --yellow-400: #ffb904;
  --yellow-50: #513a00;
  --yellow-500: #ffc71e;
  --yellow-600: #ffd334;
  --yellow-700: #fef08c;
  --yellow-800: #fff7bf;
  --yellow-900: #fffbe1;
}
:root {
  /* numbers */
  --radius-50: 0.25rem;
  --radius-100: 0.5rem;
  --radius-200: 0.75rem;
  --radius-300: 1rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
}

:root[data-theme="light"] {
  /* colors */
  --accent-01-default: var(--purple-600, #944de7);
  --accent-01-hover: var(--purple-500, #a964f7);
  --accent-01-press: var(--purple-400, #c490f9);
  --accent-01-select: var(--purple-500, #a964f7);
  --accent-02-default: var(--purple-50, #f9f1ff);
  --accent-02-focus: var(--purple-200, #ebd5ff);
  --accent-02-hover: var(--purple-100, #f2e3ff);
  --accent-02-select: var(--purple-100, #f2e3ff);
  --background-01: var(--w-gray-01, #fafaf6);
  --background-02: var(--gray-02, #f7f7f7);
  --background-03: var(--gray-03, #f5f4f3);
  --background-04: var(--w-gray-03, #f6f4ee);
  --background-05: var(--gray-05, #ececec);
  --background-06: var(--gray-06, #dfdfdf);
  --background-07: var(--w-gray-08, #a7a39a);
  --background-08: var(--gray-11, #555555);
  --background-09: var(--gray-13, #333333);
  --background-10: var(--gray-14, #242424);
  --background-default: var(--white-white, #ffffff);
  --background-extension-disabled-bg: var(--gray-03, #f5f4f3);
  --background-extension-disabled-icon: var(--gray-05, #ececec);
  --background-extension-only-black: var(--black-black, #000000);
  --background-extension-onlywhite: #ffffff;
  --blanket-01: var(--gray-transparent-scale2-02, #1717174d);
  --blanket-02: var(--gray-transparent-scale2-01, #1717171a);
  --border-01: var(--gray-05, #ececec);
  --border-02: var(--gray-09, #8b8b8b);
  --border-03: var(--gray-13, #333333);
  --border-accent-01: var(--purple-700, #7c3ec3);
  --border-accent-02: var(--purple-300, #ddb9ff);
  --border-disabled: var(--gray-06, #dfdfdf);
  --border-error-01: var(--red-700, #bb032a);
  --border-error-02: var(--red-300, #ff968c);
  --border-focus-01: var(--blue-700, #175bcc);
  --border-focus-02: var(--blue-300, #a9c9ff);
  --border-positive-01: var(--green-600, #0e8345);
  --border-positive-02: var(--green-300, #7fd99a);
  --border-primary-01: var(--yellow-500, #ffb904);
  --border-primary-02: var(--yellow-300, #ffd334);
  --border-selected: var(--gray-14, #242424);
  --border-transparent: var(--gray-transparent-scale-03, #b0b3bc80);
  --border-warning-01: var(--orange-500, #e65300);
  --border-warning-02: var(--orange-300, #ff9d69);
  --border-white: #ffffff;
  --cancel-default: var(--gray-07, #c1c1c1);
  --cancel-focus: var(--gray-05, #ececec);
  --cancel-hover: var(--gray-06, #dfdfdf);
  --cancel-select: var(--gray-06, #dfdfdf);
  --error-01-default: var(--red-500, #f83446);
  --error-01-hover: var(--red-400, #ff4f60);
  --error-01-press: var(--red-300, #ff968c);
  --error-01-select: var(--red-400, #ff4f60);
  --error-02-default: var(--red-50, #fff0ee);
  --error-02-hover: var(--red-100, #ffe1de);
  --error-02-press: var(--red-200, #ffd2cd);
  --error-02-select: var(--red-100, #ffe1de);
  --focus-01-default: var(--blue-600, #266ef1);
  --focus-01-hover: var(--blue-500, #068bee);
  --focus-01-press: var(--blue-400, #6daafb);
  --focus-01-select: var(--blue-500, #068bee);
  --focus-02-default: var(--blue-50, #eff4fe);
  --focus-02-hover: var(--blue-100, #dee9fe);
  --focus-02-press: var(--blue-200, #cddeff);
  --focus-02-select: var(--blue-100, #dee9fe);
  --positive-01-default: var(--green-500, #009a51);
  --positive-01-hover: var(--green-400, #06c167);
  --positive-01-press: var(--green-300, #7fd99a);
  --positive-01-select: var(--green-400, #06c167);
  --positive-02-default: var(--green-50, #eaf6ed);
  --positive-02-hover: var(--green-100, #d3efda);
  --positive-02-press: var(--green-200, #b1eac2);
  --positive-02-select: var(--green-100, #d3efda);
  --primary-01-default: var(--yellow-400, #ffc71e);
  --primary-01-hover: var(--yellow-300, #ffd334);
  --primary-01-press: var(--yellow-200, #fef08c);
  --primary-01-select: var(--yellow-300, #ffd334);
  --primary-02-default: var(--yellow-50, #fffbe1);
  --primary-02-hover: var(--yellow-100, #fff7bf);
  --primary-02-press: var(--yellow-200, #fef08c);
  --primary-02-select: var(--yellow-100, #fff7bf);
  --secondary-default: var(--gray-12, #3d3d3d);
  --secondary-hover: var(--gray-13, #333333);
  --secondary-press: var(--gray-14, #242424);
  --secondary-select: var(--gray-13, #333333);
  --surface-01: var(--white-white, #ffffff);
  --surface-02: var(--white-white, #ffffff);
  --surface-03: var(--white-white, #ffffff);
  --surface-04: var(--white-white, #ffffff);
  --surface-up: var(--white-white, #ffffff);
  --tertiary-default: var(--white-white, #ffffff);
  --tertiary-hover: var(--gray-02, #f7f7f7);
  --tertiary-press: var(--gray-04, #efefef);
  --tertiary-select: var(--gray-02, #f7f7f7);
  --text-01: var(--gray-14, #242424);
  --text-02: var(--gray-11, #555555);
  --text-03: var(--gray-10, #6f6f6f);
  --text-04: var(--gray-09, #8b8b8b);
  --text-accent: var(--purple-700, #7c3ec3);
  --text-disabled: var(--gray-07, #c1c1c1);
  --text-error: var(--red-700, #bb032a);
  --text-focus: var(--blue-700, #175bcc);
  --text-placeholder: var(--gray-07, #c1c1c1);
  --text-positive: var(--green-600, #0e8345);
  --text-primary: var(--yellow-500, #ffb904);
  --text-readonly: var(--gray-05, #ececec);
  --text-warning: var(--orange-500, #e65300);
  --text-white: #ffffff;
  --text-strong: var(--gray-15, #171717);
  --warning-01-default: var(--orange-400, #fc7a2d);
  --warning-01-hover: var(--orange-300, #ff9d69);
  --warning-01-press: var(--orange-200, #ffd3bc);
  --warning-01-select: var(--orange-300, #ff9d69);
  --warning-02-default: var(--orange-50, #fff0e9);
  --warning-02-hover: var(--orange-100, #fee2d4);
  --warning-02-press: var(--orange-200, #ffd3bc);
  --warning-02-select: var(--orange-100, #fee2d4);
}
:root[data-theme="dark"] {
  /* colors */
  --accent-01-default: var(--purple-600, #944de7);
  --accent-01-hover: var(--purple-500, #a964f7);
  --accent-01-press: var(--purple-400, #c490f9);
  --accent-01-select: var(--purple-500, #a964f7);
  --accent-02-default: var(--purple-900, #3a1659);
  --accent-02-focus: var(--purple-700, #7c3ec3);
  --accent-02-hover: var(--purple-800, #633495);
  --accent-02-select: var(--purple-800, #633495);
  --background-01: var(--gray-14, #242424);
  --background-02: var(--gray-13, #333333);
  --background-03: var(--gray-12, #3d3d3d);
  --background-04: var(--gray-11, #555555);
  --background-05: var(--gray-10, #6f6f6f);
  --background-06: var(--gray-09, #8b8b8b);
  --background-07: var(--gray-08, #a5a5a5);
  --background-08: var(--gray-07, #c1c1c1);
  --background-09: var(--gray-05, #ececec);
  --background-10: var(--gray-03, #f5f4f3);
  --background-default: var(--gray-15, #171717);
  --background-extension-disabled-bg: var(--gray-11, #555555);
  --background-extension-disabled-icon: var(--gray-11, #555555);
  --background-extension-only-black: var(--black-black, #000000);
  --background-extension-onlywhite: #ffffff;
  --blanket-01: var(--gray-transparent-scale2-04, #171717cc);
  --blanket-02: var(--gray-transparent-scale2-03, #17171780);
  --border-01: var(--gray-11, #555555);
  --border-02: var(--gray-07, #c1c1c1);
  --border-03: var(--gray-02, #f7f7f7);
  --border-accent-01: var(--purple-200, #ebd5ff);
  --border-accent-02: var(--purple-700, #7c3ec3);
  --border-disabled: var(--gray-10, #6f6f6f);
  --border-error-01: var(--red-100, #ffe1de);
  --border-error-02: var(--red-700, #bb032a);
  --border-focus-01: var(--blue-100, #dee9fe);
  --border-focus-02: var(--blue-700, #175bcc);
  --border-positive-01: var(--green-200, #b1eac2);
  --border-positive-02: var(--green-700, #166c3b);
  --border-primary-01: var(--yellow-100, #fff7bf);
  --border-primary-02: var(--yellow-700, #9b7209);
  --border-selected: var(--gray-03, #f5f4f3);
  --border-transparent: var(--gray-transparent-scale-01, #b0b3bc1a);
  --border-warning-01: var(--orange-100, #fee2d4);
  --border-warning-02: var(--orange-700, #a33b04);
  --border-white: #ffffff;
  --cancel-default: var(--gray-07, #c1c1c1);
  --cancel-focus: var(--gray-05, #ececec);
  --cancel-hover: var(--gray-06, #dfdfdf);
  --cancel-select: var(--gray-06, #dfdfdf);
  --error-01-default: var(--red-500, #f83446);
  --error-01-hover: var(--red-400, #ff4f60);
  --error-01-press: var(--red-300, #ff968c);
  --error-01-select: var(--red-400, #ff4f60);
  --error-02-default: var(--red-900, #520810);
  --error-02-hover: var(--red-800, #950f22);
  --error-02-press: var(--red-700, #bb032a);
  --error-02-select: var(--red-800, #950f22);
  --focus-01-default: var(--blue-600, #266ef1);
  --focus-01-hover: var(--blue-500, #068bee);
  --focus-01-press: var(--blue-400, #6daafb);
  --focus-01-select: var(--blue-500, #068bee);
  --focus-02-default: var(--blue-900, #002661);
  --focus-02-hover: var(--blue-800, #1948a3);
  --focus-02-press: var(--blue-700, #175bcc);
  --focus-02-select: var(--blue-800, #1948a3);
  --positive-01-default: var(--green-500, #009a51);
  --positive-01-hover: var(--green-400, #06c167);
  --positive-01-press: var(--green-300, #7fd99a);
  --positive-01-select: var(--green-400, #06c167);
  --positive-02-default: var(--green-900, #002f14);
  --positive-02-hover: var(--green-800, #0d572d);
  --positive-02-press: var(--green-700, #166c3b);
  --positive-02-select: var(--green-800, #0d572d);
  --primary-01-default: var(--yellow-400, #ffc71e);
  --primary-01-hover: var(--yellow-300, #ffd334);
  --primary-01-press: var(--yellow-200, #fef08c);
  --primary-01-select: var(--yellow-300, #ffd334);
  --primary-02-default: var(--yellow-900, #513a00);
  --primary-02-hover: var(--yellow-800, #795908);
  --primary-02-press: var(--yellow-700, #9b7209);
  --primary-02-select: var(--yellow-800, #795908);
  --secondary-default: var(--gray-02, #f7f7f7);
  --secondary-hover: var(--gray-01, #fbfbfb);
  --secondary-press: var(--white-white, #ffffff);
  --secondary-select: var(--gray-01, #fbfbfb);
  --surface-01: var(--gray-13, #333333);
  --surface-02: var(--gray-12, #3d3d3d);
  --surface-03: var(--gray-11, #555555);
  --surface-04: var(--gray-10, #6f6f6f);
  --surface-up: var(--gray-14, #242424);
  --tertiary-default: var(--gray-15, #171717);
  --tertiary-hover: var(--gray-13, #333333);
  --tertiary-press: var(--gray-11, #555555);
  --tertiary-select: var(--gray-13, #333333);
  --text-01: var(--gray-02, #f7f7f7);
  --text-02: var(--gray-06, #dfdfdf);
  --text-03: var(--gray-07, #c1c1c1);
  --text-04: var(--gray-08, #a5a5a5);
  --text-accent: var(--purple-200, #ebd5ff);
  --text-disabled: var(--gray-09, #8b8b8b);
  --text-error: var(--red-100, #ffe1de);
  --text-focus: var(--blue-100, #dee9fe);
  --text-placeholder: var(--gray-09, #8b8b8b);
  --text-positive: var(--green-200, #b1eac2);
  --text-primary: var(--yellow-100, #fff7bf);
  --text-readonly: var(--gray-13, #333333);
  --text-warning: var(--orange-100, #fee2d4);
  --text-white: #ffffff;
  --text-strong: var(--gray-01, #fbfbfb);
  --warning-01-default: var(--orange-400, #fc7a2d);
  --warning-01-hover: var(--orange-300, #ff9d69);
  --warning-01-press: var(--orange-200, #ffd3bc);
  --warning-01-select: var(--orange-300, #ff9d69);
  --warning-02-default: var(--orange-900, #461a00);
  --warning-02-hover: var(--orange-800, #823006);
  --warning-02-press: var(--orange-700, #a33b04);
  --warning-02-select: var(--orange-800, #823006);
}